*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background:linear-gradient(0deg, #c6c6c6, #C6C6C6)
    
}

/* .bodar{
    border: 1px dotted red;
} */

.dimension-header{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    width: 375px;
    height: 67px;
    margin: 0 auto;
    background: #fff;
}

.dimension-section{
    width: 375px;
    height: 545px;
    margin: 0 auto;
    background: #fff;
    padding: 1px;
    border-top: 1px solid  #c6c6c6;
}

.logo{
    width: 127px;
    height: 33.02px;
    margin: 16px 183px 17.98px 15px;
}

.avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info{
    width: 348px;
    height: 34px;
    margin: 10px 17px 11px 10px;
    display: flex;
}

.user-avatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.user-info-section{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 7px;
}

.user-fullname{
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.location-text{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}

.post-image{
    width: 375px;
    height: 375px;
    background: url(./images/post-vangogh.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1px;
    padding: 0;
    box-sizing: border-box;

}

.post-image2{
    background: url(./images/post-courbet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1px;
    padding: 0;
    box-sizing: border-box;
}

.post-image3{
    background: url(./images/post-ducreux.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1px;
    padding: 0;
    box-sizing: border-box;
}

.section-body{
    width: 346px;
    height: 78px;
    margin: 21px 19px 16px 10px;
}

.icon{
    display: flex;
    justify-content: space-between;
    width: 104.34px;
    height: 22.13px;
}

.icon-size{
    width: 19px;
    height: 20px;
}

.icon-size:hover, .icon-size:focus, .icon-size:active{
    opacity: 0.64;
}



.like-count{
    display: flex;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    width: 343px;
    height: 16px;
    margin-top: 11.87px;
}

.like-number{
    margin-right: 2px;
}

/* .likes-word{

} */

.username-caption{
    display: flex;
    width: 343px;
    height: 16px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 16px;
}

/* .username{

} */

.caption{
    font-weight: 300;
    margin-left: 2px;
}
